.btn-bg {
	background: $green;
	color: $light;
	padding: 12px 30px;
	border-radius: 24px;
	display: flex;
	font-size: 16px;
	font-weight: 700;
	border: none;
	line-height: 1.3;
	align-items: center;
	width: max-content;

	img {
		margin-right: 6px;
		width: 17px;
		aspect-ratio: 1;
	}

	&:hover {
		color: $light;
		animation: btn_shadown 1.5s infinite;
		transform: scale(1.05);
	}

	&:focus {
		outline: 5px auto lightseagreen;
	}
}

.section-title {
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 25px;
	span{
		display: block;
	}
}