body {
  font-family: 'Inter Tight', sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover {
  text-decoration: none;
}

.menu-hidden {
  transform: translateY(-100%);
}

.slick-style .slick-next {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  right: -50px;
  z-index: 1;
  box-shadow: 0 3px 15px rgba(33, 147, 127, 0.15);
}

.slick-style .slick-next::before {
  content: "\f105";
  font-family: FontAwesome;
  opacity: 1;
  color: #9f9fa0;
  font-size: 36px;
}

.slick-style .slick-prev {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  left: -50px;
  z-index: 1;
  box-shadow: 0 3px 15px rgba(33, 147, 127, 0.15);
}

.slick-style .slick-prev::before {
  content: "\f104";
  font-family: FontAwesome;
  opacity: 1;
  color: #9f9fa0;
  font-size: 36px;
}

.slick-style .slick-dots {
  bottom: -50px;
}

.slick-style .slick-dots li button::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid #21937F;
  border-radius: 50%;
}

.slick-style .slick-dots .slick-active button::before {
  content: '';
  background: #21937F;
}

.inner-img img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes btn_shadown {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(218, 103, 68, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(218, 103, 68, 0);
  }
}

.btn-bg {
  background: #21937F;
  color: #fff;
  padding: 12px 30px;
  border-radius: 24px;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  border: none;
  line-height: 1.3;
  align-items: center;
  width: max-content;
}

.btn-bg img {
  margin-right: 6px;
  width: 17px;
  aspect-ratio: 1;
}

.btn-bg:hover {
  color: #fff;
  animation: btn_shadown 1.5s infinite;
  transform: scale(1.05);
}

.btn-bg:focus {
  outline: 5px auto lightseagreen;
}

.section-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 25px;
}

.section-title span {
  display: block;
}

.header {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.header-top {
  background: #21937F;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 15px;
}

.header-top-title {
  margin-bottom: 0;
}

.header-top-title a {
  color: #fff;
  text-decoration: underline;
}

.header-bottom {
  padding: 11px 0;
}

.header-menu {
  padding: 0;
}

.header-menu .menu-item:not(:first-child):not(:last-child) .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

.header-menu .menu-item:first-child .nav-link {
  padding-right: 20px;
}

.header-menu .menu-item:last-child .nav-link {
  padding-left: 20px;
}

.header-menu .menu-item:hover::after, .header-menu .menu-item:hover::before {
  width: 100%;
}

.header-menu .menu-item::before {
  margin-left: auto;
}

.header-menu .menu-item::before, .header-menu .menu-item::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #21937F;
  display: block;
  transition: 0.5s;
}

.header-menu .nav-link {
  color: #000;
}

.header-menu .nav-link:hover {
  color: #21937F;
}

.header-sticky {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 4;
  transition: transform 0.5s ease;
}

.footer {
  padding: 60px 0;
  position: relative;
}

.footer-logo {
  width: 164px;
  aspect-ratio: 164/57;
  margin-bottom: 15px;
}

.footer-title {
  font-size: 16px;
  font-weight: 700;
}

.footer-desc {
  margin-bottom: 5px;
}

.footer-title-col {
  font-weight: 700;
  margin-bottom: 19px;
  text-transform: uppercase;
}

.footer-list-info {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.footer-list-info .item {
  display: flex;
  align-items: baseline;
}

.footer-list-info .item img {
  margin-right: 12px;
}

.footer-list-info .item:not(:last-child) {
  margin-bottom: 5px;
}

.footer-social {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-social .item {
  position: relative;
}

.footer-social .item:not(:last-child) {
  margin-right: 20px;
}

.footer-social .item:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.footer-social .item.face:hover .tooltip {
  background: #1877F2;
}

.footer-social .item.face:hover .tooltip::before {
  background: #1877F2;
}

.footer-social .item.you:hover .tooltip {
  background: #F13B3B;
}

.footer-social .item.you:hover .tooltip::before {
  background: #F13B3B;
}

.footer-social .item.tik:hover .tooltip {
  background: #000;
}

.footer-social .item.tik:hover .tooltip::before {
  background: #000;
}

.footer-icon {
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .tooltip {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.text-green {
  color: #21937F;
  font-weight: 600;
  display: block;
  margin-bottom: 0;
}

.page-footer {
  position: relative;
}

.background-radient-footer-l {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 200%;
  z-index: -1;
  background: radial-gradient(circle at 15% 175%, #a6d4cd 0, #bae0d7 50%, rgba(186, 224, 215, 0) 75%);
  opacity: .45;
}

.background-radient-footer-r {
  position: absolute;
  top: auto;
  left: 40%;
  bottom: 0;
  width: 60%;
  height: 200%;
  z-index: -1;
  background: radial-gradient(circle at 70% 180%, #a6d4cd 0, #bae0d7 50%, rgba(186, 224, 215, 0) 75%);
  opacity: .45;
}

.breadcrumb {
  background-color: transparent;
  padding: 19px 0;
  margin-bottom: 10px;
}

.breadcrumb a {
  color: #21937F;
}

.cta {
  position: fixed;
  top: 70%;
  left: 20px;
  z-index: 3;
}

.cta-list {
  list-style: none;
}

.cta .item:not(:last-child) {
  margin-bottom: 20px;
}

.cta-link {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  background: #F13B3B;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 23px;
  display: block;
}

.cta-link:hover {
  color: #fff;
}

.form-job {
  padding: 19px 25px;
  border-radius: 30px;
  background: #21937F;
  width: 450px;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.form-job::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/bacground-form.png) no-repeat;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  opacity: .2;
}

.form-img {
  width: 100%;
  aspect-ratio: 400/273;
  position: relative;
  margin-bottom: -35px;
}

.form-title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 8px;
}

.form-desc {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.form-custom {
  padding: 0 7.5px;
  margin-bottom: 15px;
  position: relative;
}

.form-custom-item {
  height: 45px;
  border-radius: 10px;
}

.form-btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: #F13B3B;
  padding: 12px 30px;
  border-radius: 30px;
  margin: 0 auto;
}

.form-btn:hover {
  color: #fff;
}

.form-icon-upload {
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translateY(-50%);
}

.form-recruitment {
  background: #21937F;
  padding: 19px 25px;
  border-radius: 10px;
  overflow: hidden;
}

.form-recruitment .form-btn {
  padding: 12px 48px;
}

.form-recruitment .form-title {
  font-size: 44px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}

.form-recruitment .form-title span {
  display: block;
}

.form-recruitment .form-title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/cham-bi.png) no-repeat;
  background-size: contain;
}

.form-contact .form-custom-item {
  border: 1px solid #21937F;
}

.form-contact .btn-submit {
  background: #F13B3B;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 0;
  display: block;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.pagination-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.pagination .page-numbers {
  padding: 4px 11px;
  margin: 5px;
  border-radius: 5px;
  background: #e8e8e8;
}

.pagination a {
  color: #000;
}

.pagination .page-numbers.current {
  background: #21937F;
  color: #fff;
  font-weight: 700;
}

.pagination .page-numbers:hover {
  background: #21937F;
  color: #fff;
}

.post {
  overflow: hidden;
}

.post-boxshadown {
  box-shadow: 0 3px 20px rgba(33, 147, 127, 0.15);
  background: #fff;
  border-radius: 30px;
}

.post .infor-item {
  font-size: 14px;
}

.post .infor-item img {
  margin-right: 8px;
  width: 13px;
  height: 13px;
}

.post .infor-item:not(:last-child) {
  margin-bottom: 8px;
}

.post .infor-item:last-child {
  margin-bottom: 0;
}

.post img {
  display: inline-block !important;
}

.post-thumbnail {
  width: 100%;
  aspect-ratio: 29/21;
  margin-bottom: 20px;
  display: block;
  overflow: hidden;
}

.post-thumbnail img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.post-info {
  padding: 0 15px;
  margin-bottom: 25px;
}

.post-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.post-title a {
  color: #000;
}

.post-meta {
  padding: 0 15px;
}

.post-more {
  background: #21937F;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: 700;
  margin-bottom: 26px;
  width: max-content;
  padding: 8px 20px;
  border-radius: 23px;
}

.post-more:hover {
  color: #fff;
}

.post-desc {
  color: #999999;
  margin-bottom: 0;
  display: -webkit-box;
  line-height: 1.3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post.post-hover:hover .post-thumbnail img {
  transform: scale(1.1);
}

.post-flex {
  display: flex;
  padding: 15px;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 15px;
}

.post-flex .post-thumbnail {
  flex-shrink: 0;
  width: 100px;
  aspect-ratio: 25/18;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0;
}

.post-flex .post-title {
  margin-bottom: 10px;
  font-size: 16px;
}

.post-flex .post-info {
  padding-right: 0;
  margin-bottom: 10px;
}

.post-flex .post-info .infor-item {
  font-size: 12px;
  margin-bottom: 5;
}

.post-flex .post-info .infor-item img {
  display: inline;
}

.post-flex .post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.post-flex .post-meta .meta-item {
  font-size: 12px;
  color: #21937F;
  margin-bottom: 0;
}

.post-flex .post-meta .meta-item-child {
  color: #F13B3B;
}

.post-flex .post-more {
  margin-bottom: 0;
  font-size: 12px;
}

.post-big .post-thumbnail {
  width: 100%;
  aspect-ratio: 552/406;
  border-radius: 20px;
  overflow: hidden;
}

.post-small-flex {
  display: flex;
}

.post-small-flex:not(:last-child) {
  margin-bottom: 25px;
}

.post-small-flex .post-thumbnail {
  width: 200px;
  aspect-ratio: 200/147;
  flex-shrink: 0;
  margin-right: 15px;
  margin-bottom: 0;
  border-radius: 20px;
  overflow: hidden;
}

.post-small-flex .post-title {
  font-size: 16px;
}

.post-small-flex .post-info {
  padding: 0;
  margin-bottom: 0;
}

.post-small {
  display: flex;
  padding: 15px;
}

.post-small .post-thumbnail {
  width: 167px;
  aspect-ratio: 167/120;
  flex-shrink: 0;
  margin-right: 15px;
  margin-bottom: 0;
  border-radius: 20px;
  overflow: hidden;
}

.post-small .post-info {
  padding: 0;
  margin-bottom: 0;
}

.post-small .post-title {
  font-size: 16px;
}

.post-small:not(:last-child) {
  margin-bottom: 25px;
}

.post-youtobe .post-thumbnail {
  aspect-ratio: 552/331;
  margin-bottom: 20px;
  border-radius: 30px;
}

#modalsucsses .box-sucsses {
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
}

#modalsucsses .box-sucsses-title {
  font-size: 25px;
  font-weight: 700;
  color: #21937F;
  margin-bottom: 16px;
}

#modalsucsses .box-sucsses-desc {
  font-size: 16px;
  margin-bottom: 0;
}

#modalsucsses .box-sucsses-img {
  width: 150px;
  aspect-ratio: 1;
  margin-bottom: 25px;
}

#modalsucsses .modal-content {
  border-radius: 30px;
  border: 1px solid #fefefe;
}

.banner-gim {
  position: fixed;
  bottom: -160px;
  width: 100%;
  height: 160px;
  transition: bottom 2s ease;
  z-index: 2;
}

.banner-gim img {
  object-fit: cover;
  height: 100%;
}

.banner-gim .btn-hide {
  position: absolute;
  display: block;
  top: -24%;
  left: 90%;
  padding: 0;
  color: #fff;
  background: rgba(38, 51, 58, 0.9);
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 26px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.banner-gim.show {
  bottom: 0;
}

.banner-gim.show .btn-hide {
  display: block;
}

.home-banner {
  position: relative;
  margin-bottom: 60px;
}

.home-banner::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  background: #21937f;
  background: linear-gradient(180deg, rgba(33, 147, 127, 0) 0%, rgba(22, 99, 86, 0.84) 70%, #114a40 100%);
}

.home-banner .section-img img {
  width: 100%;
}

.form-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.form-search-title {
  font-weight: 700;
  font-size: 42px;
  color: #fff;
  margin-bottom: 30px;
}

.form-search .input-search {
  height: 60px;
  border-radius: 30px;
  padding-left: 62px;
}

.form-search .icon-search {
  position: absolute;
  top: 50%;
  left: 28px;
  font-size: 22px;
  transform: translateY(-50%);
  color: #9F9FA0;
}

.form-search .form-search-group {
  position: relative;
  margin-bottom: 25px;
}

.form-search .btn-search {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.form-search .form-desc {
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.introduce-info .info-desc {
  margin-bottom: 25px;
}

.introduce-info .list-info {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.introduce-info .list-info .item:not(:last-child) {
  border-bottom: 1px solid #86E2A3;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.introduce-info .list-info .item img {
  margin-right: 15px;
}

.row-custom {
  width: 80%;
  margin-left: 20%;
}

.home-introduce {
  margin-bottom: 60px;
}

.list-images {
  margin-right: -15px;
}

.list-images .slick-prev {
  display: none !important;
}

.list-images .slick-next {
  right: 0;
}

.list-images .item {
  width: 552px;
  aspect-ratio: 267/203;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 7.5px;
}

.list-images img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.home-history {
  position: relative;
  margin-bottom: 60px;
}

.home-history .section-title {
  padding: 0 150px;
  text-align: center;
  margin-bottom: 50px;
}

.history-full {
  margin-bottom: 35px;
}

.history-full .slick-prev {
  left: -65px;
}

.history-full .slick-next {
  right: -65px;
}

.history-full .inner {
  display: flex;
  align-items: center;
}

.history-full .inner-img {
  width: 552px;
  aspect-ratio: 276/203;
  margin-right: 30px;
  flex-shrink: 0;
}

.history-full .inner-title {
  padding: 0;
  font-size: 24px;
  color: #000;
  font-weight: 700;
}

.history-full .inner-title::before {
  display: none;
}

.history-full .inner-title-child {
  font-size: 72px;
  display: block;
  font-weight: 800;
  color: #21937F;
}

.history-full .inner-desc {
  font-size: 18px;
  margin-bottom: 0;
}

.history-img {
  margin-bottom: 60px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.history-img .inner {
  position: relative;
}

.history-img .inner-img {
  width: 60px;
  height: 60px;
  border: 5px solid transparent;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  overflow: hidden;
}

.history-img .inner.slick-current .inner-img {
  border: 5px solid #86E2A3;
}

.history-img .inner.slick-current .inner-desc {
  font-weight: 700;
}

.history-img .inner:not(:last-child) {
  margin-right: 83px;
}

.history-img::before {
  content: '';
  position: absolute;
  top: 30%;
  left: -3%;
  background-color: #21937F;
  width: 100%;
  height: 2px;
  z-index: -1;
}

.history-img::after {
  content: '';
  position: absolute;
  top: 30%;
  left: 95%;
  background: url(../images/icon-ten.png) no-repeat;
  background-size: contain;
  width: 20px;
  height: 15px;
  z-index: -1;
  transform: translateY(-45%);
}

.background-line {
  background: url(../images/background-line.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
}

.background-radient {
  background: url(../images/background-radient.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
}

.background-page {
  position: relative;
}

.staff-quote {
  display: block;
  margin-bottom: 20px;
  width: 50px;
  height: 35px;
}

.background-radient-top {
  background: radial-gradient(circle at 20% 60%, #8de6a9 0, #dbf7e4 20%, rgba(255, 255, 255, 0) 40%);
  position: absolute;
  width: 65%;
  top: auto;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  background-repeat: no-repeat;
  opacity: .3;
}

.background-radient-bottom {
  background: radial-gradient(circle at 10% 50%, #9ed3ca 0, #bbe5d6 10%, rgba(255, 255, 255, 0) 50%);
  position: absolute;
  width: 65%;
  top: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .3;
}

.home-feel-staff {
  margin-bottom: 93px;
}

.home-feel-staff .section-title {
  margin-bottom: 30px;
}

.home-feel-staff .section-title span {
  display: block;
}

.list-staff-big .slick-arrow {
  display: none !important;
}

.list-staff-big .inner-img {
  width: 100%;
  aspect-ratio: 100/97;
  position: relative;
}

.list-staff-big .inner-img::before {
  content: '';
  background: url(../images/background-img-radient.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: 50% 100%;
}

.list-staff-small .slick-prev {
  top: 60%;
  left: 90%;
  transform: rotate(-90deg);
}

.list-staff-small .slick-next {
  left: 90%;
  top: 20%;
  transform: rotate(-90deg);
}

.list-staff-small .inner-icon {
  width: 50px;
  height: 35px;
  margin-bottom: 20px;
  display: block;
}

.list-staff-small .inner-desc {
  margin-bottom: 25px;
  padding-right: 200px;
}

.list-staff-small .inner-meta {
  display: flex;
  align-items: center;
}

.list-staff-small .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  flex-shrink: 0;
}

.list-staff-small .inner-name {
  font-size: 16px;
  color: #21937F;
  font-weight: 700;
  margin-bottom: 5px;
}

.list-staff-small .inner-position {
  margin-bottom: 0;
}

.environment-list-img2 {
  margin-bottom: 73px;
}

.environment-list-img2 .post {
  box-shadow: none;
  border-radius: 0;
}

.environment-list-img2 .post-thumbnail {
  border-radius: 30px;
  overflow: hidden;
  aspect-ratio: 261/192;
  margin-bottom: 15px;
}

.environment-list-img2 .post-title {
  font-size: 16px;
  margin-bottom: 12px;
}

.environment-list-img2 .slick-next,
.environment-list-img2 .slick-prev {
  display: none !important;
}

.page-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 35px;
}

.text-link {
  color: #000;
}

.text-link:hover {
  color: #21937F;
}

.prominent-location {
  margin-bottom: 100px;
}

.list-recruitment .slick-next {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  right: -50px;
  z-index: 1;
  box-shadow: 0 3px 15px rgba(33, 147, 127, 0.15);
}

.list-recruitment .slick-next::before {
  content: "\f105";
  font-family: FontAwesome;
  opacity: 1;
  color: #9f9fa0;
  font-size: 36px;
}

.list-recruitment .slick-prev {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  left: -50px;
  z-index: 1;
  box-shadow: 0 3px 15px rgba(33, 147, 127, 0.15);
}

.list-recruitment .slick-prev::before {
  content: "\f104";
  font-family: FontAwesome;
  opacity: 1;
  color: #9f9fa0;
  font-size: 36px;
}

.list-recruitment .slick-track {
  margin-bottom: 30px;
}

.list-recruitment .slick-dots li button::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid #21937F;
  border-radius: 50%;
}

.list-recruitment .slick-dots .slick-active button::before {
  content: '';
  background: #21937F;
}

.recruiting {
  margin-bottom: 60px;
}

.recruiting .section-title {
  margin-bottom: 35px;
}

.list-recruiting .slick-track {
  padding-bottom: 30px;
}

.list-recruiting .item-child:not(:nth-child(5)):not(:nth-child(6)) {
  margin-bottom: 25px;
}

.list-recruiting .post-flex:not(:last-child) {
  margin-bottom: 25px;
}

.list-recruiting .slick-next,
.list-recruiting .slick-prev {
  display: none !important;
}

.list-recruiting .slick-dots {
  bottom: -25px;
}

.banner-side {
  width: 100%;
  aspect-ratio: 358/597;
  display: block;
}

.banner-side img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.procedure {
  margin-bottom: 10px;
  position: relative;
}

.procedure-item {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.procedure-item:not(:last-child):not(:nth-child(3)):not(:nth-child(4))::after {
  content: '';
  position: absolute;
  background: #21937F;
  width: 100%;
  height: 2px;
  top: 52%;
  left: 50%;
  z-index: -1;
}

.procedure-item:nth-child(5)::before {
  content: '';
  position: absolute;
  background: #21937F;
  width: 100%;
  height: 2px;
  top: 52%;
  left: -50%;
  z-index: -1;
}

.procedure-item:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 55%;
  height: 60%;
  top: 52%;
  left: 50%;
  z-index: -1;
  border-right: 2px solid #21937F;
  border-top: 2px solid #21937F;
  border-top-right-radius: 200px;
}

.procedure-item:nth-child(4)::before {
  content: '';
  position: absolute;
  width: 55%;
  height: 60%;
  top: -7%;
  left: 50%;
  z-index: -1;
  border-bottom: 2px solid #21937F;
  border-right: 2px solid #21937F;
  border-bottom-right-radius: 200px;
}

.procedure-item:nth-child(6)::after {
  content: '';
  position: absolute;
  background: #21937F;
  width: 25%;
  height: 2px;
  top: 52%;
  left: 25%;
  z-index: -1;
}

.procedure-item:nth-child(6)::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 20px;
  background: url(../images/mui-ten.png) no-repeat;
  top: 50%;
  left: 20%;
  transform: translateY(-15%);
}

.procedure-img {
  margin-bottom: 15px;
  width: 121px;
  margin-right: auto;
  margin-left: auto;
  aspect-ratio: 121/100;
}

.procedure-number {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 12px;
}

.procedure-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.procedure-desc {
  font-size: 16px;
  margin-bottom: 0;
  padding: 0 40px;
}

.procedure .bg-out {
  padding: 7px;
  background: #F2FFFD;
  border: 1px solid #D6F6F1;
  width: 52px;
  height: 52px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.procedure .bg-in {
  background: #21937F;
  border-radius: 50%;
  display: block;
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 7px;
  line-height: 1.3;
}

.procedure .text-link {
  color: #21937F;
}

.treatment {
  margin-bottom: 70px;
}

.list-treatment {
  list-style: none;
  padding-left: 15px;
  margin-bottom: 29px;
}

.list-treatment .item {
  font-size: 16px;
}

.list-treatment .item:not(:last-child) {
  margin-bottom: 20px;
}

.list-treatment img {
  width: 17px;
  height: 17px;
  margin-right: 12px;
}

.list-img-treatment .item {
  margin: 0 7px;
  width: 100%;
  aspect-ratio: 184/133;
  border-radius: 30px;
  overflow: hidden;
}

.list-img-treatment img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.list-img-treatment .slick-prev {
  left: -30px;
}

.list-img-treatment .slick-next {
  right: -30px;
}

.single-job .prominent-location {
  margin-bottom: 70px;
}

.single-job .prominent-location .slick-dots {
  display: none !important;
}

.single-job .entry {
  font-size: 16px;
  line-height: 1.6;
}

.single-job .entry h2 {
  color: #21937F;
  font-size: 20px;
  position: relative;
  padding-left: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}

.single-job .entry h2::before {
  content: '';
  background: linear-gradient(180deg, #86e2a3 0%, #21937f 100%);
  width: 6px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.single-job .entry ul {
  padding-left: 15px;
}

.single-job .entry ul li:not(:last-child) {
  margin-bottom: 10px;
}

.single-job .entry ul li::marker {
  color: #21937F;
}

.single-job .entry-title {
  color: #21937F;
  font-size: 20px;
  position: relative;
  padding-left: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}

.single-job .entry-title::before {
  content: '';
  background: linear-gradient(180deg, #86e2a3 0%, #21937f 100%);
  width: 6px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.box-info {
  padding: 20px;
  box-shadow: 0 3px 25px rgba(33, 147, 127, 0.15);
  border-radius: 15px;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.box-info .item-child:not(:last-child) {
  margin-right: 30px;
}

.box-info .info-item {
  font-size: 16px;
}

.box-info .info-item .item-img {
  margin-right: 10px;
}

.box-info .info-item:not(:last-child) {
  margin-bottom: 16px;
}

.box-info .btn-bg {
  padding: 12px 43px;
}

.box-shadow {
  box-shadow: 0 3px 25px rgba(33, 147, 127, 0.15);
}

.box-toc {
  padding: 15px;
  border-radius: 15px;
  background: #fff;
  position: sticky;
  top: 130px;
}

.box-toc .list-title {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.box-toc .list-title .item {
  font-size: 15px;
}

.box-toc .list-title .item:not(:first-child):not(:last-child) {
  padding: 15px 0;
}

.box-toc .list-title .item:not(:last-child) {
  border-bottom: 1px solid #F5F5F5;
}

.box-toc .list-title .item:first-child {
  padding-bottom: 15px;
}

.box-toc .list-title .item:last-child {
  padding-top: 15px;
}

.box-toc .list-title a {
  color: black;
}

.box-toc .list-title a:hover {
  color: #21937F;
  font-weight: 700;
}

.box-toc .list-title .active a {
  color: #21937F;
  font-weight: 700;
}

.box-content {
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 60px;
  background: #fff;
}

.inner-title {
  color: #21937F;
  font-size: 24px;
  position: relative;
  padding-left: 15px;
  font-weight: 700;
  margin-bottom: 22px;
}

.inner-title::before {
  content: '';
  background: linear-gradient(180deg, #86e2a3 0%, #21937f 100%);
  width: 6px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(3px);
}

.col-item {
  padding: 0 7.5px;
}

.list-department-top {
  margin-bottom: 13px;
}

.list-department-top .item {
  width: 100%;
  aspect-ratio: 29/21;
  border-radius: 30px;
  overflow: hidden;
}

.list-department-top .item img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.list-department-top .slick-next {
  right: 10px;
  width: 36px;
  height: 36px;
}

.list-department-top .slick-next::before {
  font-size: 28px;
}

.list-department-top .slick-prev {
  left: 10px;
  width: 36px;
  height: 36px;
  z-index: 2;
}

.list-department-top .slick-prev::before {
  font-size: 28px;
}

.list-department-bottom {
  display: flex;
  margin-bottom: 30px;
}

.list-department-bottom .item {
  width: 100%;
  aspect-ratio: 11/8;
  overflow: hidden;
}

.list-department-bottom .item img {
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.list-department-bottom .item:not(:first-child):not(:last-child) {
  padding: 0 6.5px;
}

.list-department-bottom .item:first-child {
  padding-right: 6.5px;
}

.list-department-bottom .item:last-child {
  padding-left: 6.5px;
}

.list-department-bottom .slick-arrow {
  display: none !important;
}

.banner-side {
  margin-bottom: 30px;
}

.side-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}

.list-job-side .post:not(:last-child) {
  margin-bottom: 20px;
}

.list-job-side .post:last-child {
  margin-bottom: 0;
}

.boder-row {
  border-bottom: 1px solid #21937F;
  margin-bottom: 50px;
}

.page-environment .list-treatment .item {
  display: flex;
}

.page-environment .list-treatment .item:not(:last-child) {
  margin-bottom: 35px;
}

.page-environment .list-treatment .item-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.2;
}

.page-environment .list-treatment .item-desc {
  font-size: 16px;
  margin-bottom: 0;
}

.page-environment .list-treatment img {
  width: 82px;
  height: 82px;
}

.page-environment .banner-meta .banner-desc {
  -webkit-box-orient: vertical;
}

.list-tab {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  list-style: none;
  position: relative;
  z-index: 2;
}

.list-tab .btn-tab {
  font-size: 16px;
  padding: 12px 30px;
  background: #F5F5F5;
  border-radius: 30px;
  color: #000;
  font-weight: 500;
  display: block;
  width: max-content;
  border: 1px solid #F5F5F5;
}

.list-tab .btn-tab:not(:first-child):not(:last-child) {
  margin: 0 10px;
}

.list-tab .btn-tab:first-child {
  margin-right: 10px;
}

.list-tab .btn-tab:last-child {
  margin-left: 10px;
}

.list-tab .btn-tab:hover {
  background: #D6F6F1;
  border: 1px solid #21937F;
}

.list-tab .active {
  background: #D6F6F1 !important;
  border: 1px solid #21937F !important;
}

.tab-content-item {
  display: none;
}

.tab-content-item.active {
  display: block;
}

.banner-title {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
}

.banner-title .title-child {
  margin-bottom: 0;
}

.banner-meta {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 15px;
  left: 50%;
  z-index: 2;
  text-align: center;
  transform: translate(-50%, -10%);
}

.banner-meta .banner-desc {
  color: #fff;
  font-size: 18px;
  width: 30%;
  margin: 0 auto;
  display: -webkit-box;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-desc {
  -webkit-line-clamp: inherit !important;
}

.btn-show-more {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.btn-show-more:hover {
  color: #fff;
}

.tab-environment {
  margin-bottom: 60px;
}

.environment-list-img .item {
  border-radius: 30px;
  width: 100%;
  aspect-ratio: 358/258;
  overflow: hidden;
}

.environment-list-img .item img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.environment-list-img .item:not(:last-child) {
  margin-bottom: 20px;
}

.environment-list-post {
  margin-bottom: 60px;
}

.environment-list-post .item-img {
  width: 100%;
  aspect-ratio: 552/503;
}

.environment-welfare {
  margin-bottom: 60px;
}

.environment-welfare-item {
  box-shadow: 0 3px 25px rgba(33, 147, 127, 0.15);
  background: #fff;
  padding: 20px;
  border-radius: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.environment-welfare-item:not(:last-child) {
  margin-bottom: 30px;
}

.environment-welfare-item:nth-child(odd) .box-img {
  margin-right: 67px;
  grid-area: 1 / 1 / 1 / 1;
}

.environment-welfare-item:nth-child(even) .box-img {
  margin-left: 67px;
  grid-area: 1 / 2 / 1 / 2;
}

.box-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.box-desc {
  font-size: 16px;
  margin-bottom: 0;
}

.box-img {
  width: 659px;
  aspect-ratio: 659/322;
  flex-shrink: 0;
}

.box-img img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.page-culure .banner-title {
  color: #000;
  margin-bottom: 20px;
}

.page-culure .banner-title span {
  display: block;
}

.page-culure .banner-desc {
  font-size: 16px;
  margin-bottom: 0;
}

.section-banner-culure {
  background: url("../images/banner-culure.png") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: auto;
  margin-bottom: 60px;
  padding: 70px 0;
}

.internal-communications {
  margin-bottom: 34px;
}

.internal-communications .slick-prev {
  display: none !important;
}

.culture-social {
  margin-bottom: 74px;
}

.culture-social .page-title {
  font-size: 24px;
  margin-bottom: 22px;
}

.list-youtube-top .post {
  margin-bottom: 25px;
}

.list-youtube-top .post-title {
  margin-bottom: 0;
}

.list-youtube-top .post-title a {
  color: #000;
}

.list-youtube-top .item {
  display: block;
  width: 100%;
  aspect-ratio: 552/311;
  border-radius: 30px;
  margin-bottom: 15px;
  position: relative;
}

.list-youtube-top .item img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.list-youtube-top .slick-next {
  width: 32px;
  height: 32px;
  right: 0;
}

.list-youtube-top .slick-next::before {
  font-size: 25px;
}

.list-youtube-top .slick-prev {
  width: 32px;
  height: 32px;
  left: 0;
}

.list-youtube-top .slick-prev::before {
  font-size: 25px;
}

.item-youtube::before {
  content: '';
  background: url("../images/youtube.svg") no-repeat;
  background-size: cover;
  width: 56px;
  height: 39px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-play::before {
  content: '';
  background: url("../images/play-button.svg") no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-post-youtube {
  display: flex;
}

.list-post-youtube .post {
  box-shadow: unset;
  border-radius: 0;
}

.list-post-youtube .post-thumbnail {
  width: 100%;
  aspect-ratio: 167/93;
  border-radius: 15px;
  margin-bottom: 12px;
}

.list-post-youtube .post-title {
  line-height: 1.2;
  margin-bottom: 0;
}

.list-post-youtube .post-title a {
  display: block;
  font-size: 14px;
  color: #000;
}

.list-post-youtube .post:not(:last-child) {
  padding-right: 20px;
}

.list-post-youtube .item-youtube::before {
  width: 35px;
  height: 24px;
}

.communications-list .item {
  width: 100%;
  aspect-ratio: 268/194;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.communications-list .item img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.communications-list .item-title {
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  top: auto;
  bottom: 15px;
  left: 0;
  right: 0;
  z-index: 2;
}

.communications-list .item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #222222 100%);
}

.list-tiktok {
  padding: 0 8.5px;
}

.list-tiktok .col-item {
  padding: 0 6.5px;
}

.list-tiktok .item {
  width: 100%;
  aspect-ratio: 261/477;
  border-radius: 30px;
  display: block;
  position: relative;
}

.list-tiktok .item img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.list-tiktok .slick-next {
  width: 32px;
  height: 32px;
  right: 0;
}

.list-tiktok .slick-next::before {
  font-size: 26px;
}

.list-tiktok .slick-prev {
  width: 32px;
  height: 32px;
  left: 0;
}

.list-tiktok .slick-prev::before {
  font-size: 26px;
}

.culture-list-img .item {
  width: 100%;
  aspect-ratio: 552/399;
  border-radius: 30px;
  overflow: hidden;
}

.culture-list-img .item-img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.section-desc {
  margin-bottom: 38px;
}

.list-post-new {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #21937F;
}

.list-post {
  margin-bottom: 50px;
}

.list-post .post {
  margin-bottom: 30px;
}

.list-post .post-thumbnail {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
}

.list-post .post-title {
  font-size: 16px;
}

.archive-banner .banner-item {
  width: 100%;
  height: 650px;
}

.archive-banner img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.page-archive .background-radient-top {
  background: radial-gradient(circle at 20% 30%, #8de6a9 0, #dbf7e4 20%, rgba(255, 255, 255, 0) 40%);
}

.archive-job .banner-meta {
  transform: translate(-50%, -50%);
}

.archive-job .banner-meta .banner-desc {
  width: 55%;
}

.page-single .section-title {
  margin-bottom: 20px;
}

.page-single .background-radient-top {
  background: radial-gradient(circle at 30% 5%, #8de6a9 0, #dbf7e4 20%, rgba(255, 255, 255, 0) 40%);
}

.page-meta-top {
  padding-bottom: 12px;
  border-bottom: 1px solid #21937F;
  margin-bottom: 25px;
}

.entry {
  font-size: 16px;
  line-height: 1.6;
}

.entry h2 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 25px;
}

.entry h2::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 2px;
  background: #21937F;
  left: 0;
  bottom: 0;
}

.entry img {
  border-radius: 30px;
  margin-bottom: 28px;
}

.row-content {
  border-bottom: 1px solid #21937F;
  padding-bottom: 60px;
  margin-bottom: 35px;
}

.page-contact .section-title {
  font-size: 36px;
}

.page-contact .background-radient-bottom {
  background: radial-gradient(circle at 40% 15%, #9ed3ca 0, #bbe5d6 10%, rgba(255, 255, 255, 0) 50%);
}

.contact-map {
  margin-bottom: 20px;
}

.list-contact-info {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-contact-info .item {
  display: flex;
  align-items: start;
  font-size: 16px;
}

.list-contact-info .item:not(:last-child) {
  margin-bottom: 10px;
}

.list-contact-info .img-icon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.page-404 {
  margin-bottom: 100px;
}

.page-404 .img-404 {
  margin-bottom: 25px;
}

.page-404 .text-404 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}

.page-404 .btn-link {
  display: block;
  background: #21937F;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 30px;
  padding: 12px 30px;
  width: max-content;
  margin: 0 auto 15px auto;
}

.page-404 .btn-link:hover {
  text-decoration: none;
}

@media (max-width: 575px) {
  .header {
    position: relative;
  }
  .header .btn-bg {
    font-size: 14px;
    line-height: 1.2;
    padding: 10px 20px;
  }
  .header .menu-mb {
    font-size: 24px;
    color: #000;
    display: block;
  }
  .header-menu {
    position: absolute;
    top: auto;
    left: 0;
    height: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    transition: height 0.5s ease;
  }
  .section-banner {
    margin-bottom: 40px;
  }
  .show-menu {
    height: 250px;
  }
  .menu-item .nav-link {
    padding: 15px;
  }
  .menu-item:first-child {
    padding-top: 20px;
  }
  .menu-item:not(:last-child) .nav-link {
    border-bottom: 1px solid #ededed;
  }
  .form-search {
    width: 100%;
    padding: 0 16px;
  }
  .form-search .input-search {
    height: 50px;
    font-size: 14px;
    padding-left: 50px;
  }
  .form-search .btn-search {
    padding: 10px 20px;
    right: 5px;
    line-height: 1.2;
  }
  .form-search .icon-search {
    left: 20px;
  }
  .form-search-title {
    font-size: 36px;
    padding: 0 15px;
    text-align: center;
  }
  .row-custom {
    width: 100%;
    padding: 0 15px;
    margin-left: 0;
  }
  .introduce-info {
    margin-bottom: 30px;
  }
  .introduce-info .section-title {
    margin-bottom: 20px;
  }
  .introduce-info .section-title span {
    display: block;
  }
  .introduce-info .item {
    font-size: 16px;
  }
  .list-images {
    margin-right: -30px;
  }
  .list-images .item {
    width: 297px;
    aspect-ratio: 297/215;
  }
  .list-images .slick-next {
    right: 0;
    width: 36px;
    height: 36px;
  }
  .list-images .slick-next::before {
    font-size: 28px;
  }
  .section-title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .home-history .section-title {
    padding: 0;
  }
  .background-radient {
    background-size: cover;
    background-position: 40% 50%;
  }
  .history-full .slick-prev {
    display: none !important;
  }
  .history-full .slick-next {
    right: 5px;
    width: 36px;
    height: 36px;
  }
  .history-full .slick-next::before {
    font-size: 30px;
  }
  .history-full .inner {
    display: block;
  }
  .history-full .inner-img {
    width: 100%;
    aspect-ratio: 381/280;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .history-full .inner-title-child {
    font-size: 69px;
  }
  .background-radient-top {
    width: 100%;
  }
  .background-radient-bottom {
    width: 100%;
  }
  .history-img {
    width: 100%;
  }
  .history-img .inner-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  .history-img .inner:not(:last-child) {
    margin-right: 43px;
  }
  .history-img::before {
    top: 25%;
    width: 95%;
    left: -2%;
  }
  .history-img::after {
    left: 90%;
    top: 25%;
  }
  .list-staff-small .inner-desc {
    padding-right: 0;
  }
  .list-staff-small .slick-prev {
    width: 36px;
    height: 36px;
    top: -30%;
  }
  .list-staff-small .slick-prev::before {
    font-size: 30px;
  }
  .list-staff-small .slick-next {
    width: 36px;
    height: 36px;
    top: -60%;
  }
  .list-staff-small .slick-next::before {
    font-size: 30px;
  }
  .list-tab {
    overflow: scroll;
    padding-left: 85px;
  }
  .environment-list-img2 .slick-track {
    left: -33%;
  }
  .background-radient-footer-r {
    width: 50%;
    left: 50%;
  }
  .list-recruitment .slick-track {
    left: -33%;
  }
  .list-recruiting {
    margin-bottom: 40px;
  }
  .procedure-item {
    display: flex;
  }
  .procedure-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .procedure-item:not(:last-child)::before {
    width: 2px;
    height: 100%;
    top: 40%;
    left: 30%;
  }
  .procedure-item:nth-child(1)::after {
    display: none;
  }
  .procedure-item:nth-child(1)::before {
    content: '';
    position: absolute;
    background: #21937F;
    width: 2px;
    height: 100%;
    top: 40%;
    left: 30%;
    z-index: -1;
  }
  .procedure-item:nth-child(2)::after {
    display: none;
  }
  .procedure-item:nth-child(2)::before {
    content: '';
    position: absolute;
    background: #21937F;
    width: 2px;
    height: 100%;
    top: 40%;
    left: 30%;
    z-index: -1;
  }
  .procedure-item:nth-child(5)::after {
    display: none;
  }
  .procedure-item:nth-child(6)::after {
    width: 2px;
    height: 80%;
    top: 40%;
    left: 30%;
  }
  .procedure-item:nth-child(6)::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 18px;
    background: url(../images/mui-ten-mb.png) no-repeat;
    top: 100%;
    left: 28%;
  }
  .procedure-img {
    flex-shrink: 0;
    width: 84px;
    height: 70px;
    margin-left: 0;
    margin-right: 4px;
    margin-bottom: 0;
  }
  .procedure .item-info {
    width: 100%;
    text-align: left;
  }
  .procedure-desc {
    padding: 0;
  }
  .procedure .bg-out {
    margin: 0 15px 0 0;
  }
  .procedure-title {
    margin-bottom: 12px;
    font-size: 20px;
  }
  .treatment .btn-bg {
    margin-bottom: 30px;
  }
  .list-img-treatment .slick-next {
    right: -10px;
    width: 36px;
    height: 36px;
  }
  .list-img-treatment .slick-next::before {
    font-size: 28px;
  }
  .list-img-treatment .slick-prev {
    left: -10px;
    width: 36px;
    height: 36px;
  }
  .list-img-treatment .slick-prev::before {
    font-size: 28px;
  }
  .list-job-side .post-flex:last-child {
    margin-bottom: 40px;
  }
  .prominent-location {
    margin-bottom: 40px;
  }
  .prominent-location .slick-dots {
    bottom: -25px;
  }
  .environment-welfare-item {
    flex-wrap: wrap;
    padding: 15px;
  }
  .environment-welfare-item:nth-child(even) {
    flex-wrap: wrap-reverse;
  }
  .environment-welfare-item:nth-child(even) .box-img {
    margin-left: 0;
  }
  .environment-welfare-item:nth-child(odd) .box-img {
    margin-right: 0;
  }
  .environment-welfare .box-img {
    width: 100%;
    margin-bottom: 20px;
    aspect-ratio: 351/172;
  }
  .banner-meta {
    top: 60%;
  }
  .banner-meta .banner-title {
    font-size: 25px;
  }
  .banner-meta .banner-desc {
    width: 100%;
    font-size: 16px;
  }
  .list-tab {
    justify-content: flex-start;
    padding-left: 0;
  }
  .environment-list-post .item-img {
    margin-bottom: 25px;
    aspect-ratio: 381/347;
  }
  .section-banner-culure {
    background: url(../images/banner-mb-3.png) no-repeat;
    background-size: 100% 100%;
  }
  .section-banner-culure .banner-title span {
    display: block;
  }
  .section-banner-culure .banner-desc {
    margin-bottom: 30px;
  }
  .communications-list .slick-track,
  .list-tiktok .slick-track {
    left: -33%;
  }
  .culture-list-img .item {
    aspect-ratio: 381/275;
  }
  .culture-list-img .slick-next {
    right: 15px;
    width: 36px;
    height: 36px;
  }
  .culture-list-img .slick-next::before {
    font-size: 28px;
  }
  .culture-list-img .slick-prev {
    left: 15px;
    width: 36px;
    height: 36px;
  }
  .culture-list-img .slick-prev::before {
    font-size: 28px;
  }
  .list-youtube-top .slick-next,
  .list-youtube-top .slick-prev {
    top: 40%;
  }
  .list-post-youtube {
    display: block;
    margin-bottom: 40px;
  }
  .list-post-youtube .post:not(:last-child) {
    margin-bottom: 20px;
  }
  .list-post-youtube .post-thumbnail {
    float: left;
    display: block;
    width: 167px;
    aspect-ratio: 167/93;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .list-post-new .post-big {
    margin-bottom: 30px;
  }
  .list-post-new .post-small-flex .post-thumbnail {
    width: 167px;
    aspect-ratio: 167/123;
  }
  .list-post {
    margin-bottom: 33px;
  }
  .pagination-nav {
    margin-bottom: 0;
  }
  .list-post-releated .slick-dots {
    bottom: -20px;
  }
  .list-contact-info {
    margin-bottom: 38px;
  }
  .list-contact-info .item {
    font-size: 15px;
  }
  .archive-banner .banner-item {
    height: 414px;
  }
  .form-job {
    width: 100%;
  }
  .banner-gim {
    height: 100px;
    bottom: -100px;
  }
  .banner-gim img {
    object-fit: contain;
  }
  .banner-gim .btn-hide {
    top: -35%;
    left: 85%;
    width: 50px;
    height: 40px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
