.cta{
	position: fixed;
	top: 70%;
	left: 20px;
	z-index: 3;
	&-list{
		list-style: none;
	}
	.item{
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}
	&-link{
		font-size: 16px;
		color: $light;
		font-weight: 700;
		background: #F13B3B;
		text-transform: uppercase;
		padding: 12px 30px;
		border-radius: 23px;
		display: block;
		&:hover{
			color: $light;
		}
	}
}